<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}">

<head>
    <meta charset="UTF-8">
    <title>Charity Website</title>
</head>

<body>

    <div class="main-content container-fluid" layout:fragment="content">
        <h1 class="text-center text-info">QUẢN LÝ DỰ ÁN TỪ THIỆN</h1>
        <a th:href="@{/admin/project}" class="btn btn-info mt-5">THÊM DỰ ÁN</a>

        <div class="container my-2">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>DỰ ÁN</th>
                            <th>TIỀN ĐÃ GÓP</th>
                            <th>TIỀN CẦN GÓP</th>
                            <th>CHỨC NĂNG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p:${projects}">
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.title}"></td>
                            <td th:text="${p.contributedAmount}"></td>
                            <td th:text="${p.totalAmount}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/admin/project/{id}(id=${p.id})}">Update</a>
                                <a class="btn btn-danger" th:data-path="@{/admin/project/{id}(id=${p.id})}"
                                    th:data-confirmation-message="'Bạn có chắc chắn muốn xóa dự án ' + ${p.title} + ' không?'"
                                    onclick="deleteProject(this.getAttribute('data-path'), this.getAttribute('data-confirmation-message'))">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>

</html>
<script>
    function deleteProject(path, confirmationMessage) {
        if (confirm(confirmationMessage) === true) {
            fetch(path, {
                method: "delete"
            }).then(res => {
                if (res.status === 204)
                    location.reload();
                else
                    alert("Lỗi!!!");
            });
        }
    }
</script>