<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Category</title>
</head>

<body>
    <div class="main-content container-fluid" layout:fragment="content">
        <h1 class="text-center text-info">QUẢN LÝ DANH MỤC TIN TỨC TỪ THIỆN</h1>
        <a th:href="@{/admin/ncategory}" class="btn btn-info mt-5">THÊM DANH MỤC</a>
        <div class="container my-2" >
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>DANH MỤC</th>
                            <th>SỐ LƯỢNG TIN TỨC</th>
                            <th>CHỨC NĂNG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c:${ncategories}">
                            <td th:text="${c.id}"></td>
                            <td th:text="${c.name}"></td>
                            <td th:text="${count[c.id]}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/admin/ncategory/{id}(id=${c.id})}">Update</a>
                                <a class="btn btn-danger" th:attr="path=@{/admin/ncategory/{id}(id=${c.id})}"
                                    onclick="deleteNewsCategory(this.getAttribute('path'))">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>

</body>

</html>
<script>
    function deleteNewsCategory(path) {
        if (confirm("Bạn chắc chắn xóa không?") === true) {
            fetch(path, {
                method: "delete"
            }).then(res => {
                if (res.status === 204)
                    location.reload();
                else
                    alert("Lỗi!!!");
            });
        }
    }
</script>