<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}">

<head>
    <meta charset="UTF-8">
    <title>Charity Website</title>
</head>

<body>

    <div class="main-content container-fluid" layout:fragment="content">
        <h1 class="text-center text-info">QUẢN LÝ TIN TỨC TỪ THIỆN</h1>
        <a th:href="@{/admin/new}" class="btn btn-info mt-5" >THÊM TIN TỨC</a>
        <div class="container my-2">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>HÌNH ẢNH</th>
                            <th>TIN TỨC</th>
                            <th>NGÀY TẠO</th>
                            <th>CHỨC NĂNG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="n:${news}">
                            <td th:text="${n.id}"></td>
                            <td>
                                <img th:src="${n.image}" alt="${n.name}" width="150" height="150" />
                            </td>
                            <td th:text="${n.name}"></td>
                            <td th:text="${n.createDate}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/admin/new/{id}(id=${n.id})}">Update</a>
                                <a class="btn btn-danger" th:attr="path=@{/admin/new/{id}(id=${n.id})}"
                                    onclick="deleteProject(this.getAttribute('path'))">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>

</html>
<script>
    function deleteProject(path) {
        if (confirm("Bạn chắc chắn xóa không?") === true) {
            fetch(path, {
                method: "delete"
            }).then(res => {
                if (res.status === 204)
                    location.reload();
                else
                    alert("Lỗi!!!");
            });
        }
    }
</script>