<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPORT</title>
</head>

<body>
    <div class="main-content container-fluid" layout:fragment="content">
        <h1 class="text-info text-center">QUẢN LÝ BÁO CÁO BÀI VIẾT</h1>
        <div class="container my-2 mt-5">
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>NỘI DUNG BÁO CÁO</th>
                            <th>NGƯỜI BÁO CÁO</th>
                            <th>ID BÀI VIẾT</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r:${reports}">
                            <td th:text="${r.id}"></td>
                            <td th:text="${r.content}"></td>   
                            <td th:text="${r.user.username}"></td>  
                            <td th:text="${r.post.id}"></td>  
                            <td>
                                <a class="btn btn-primary" th:href="@{/reports/{id}(id=${r.id})}">XỬ LÝ</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>

</body>

</html>